---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Festival Atemporal">
  <main>
    <header class="sticky top-0 bg-white/50 h-16"></header>
    <section
      class="lg:h-dvh min-h-96 bg-gradient-to-r from-purple-500 to-pink-50 p-8 text-center flex items-center"
    >
      <div class="">
        <h1>Festival Atemporal</h1>
        <p>Ven a vivir la experiencia con marcas locales, bazares y k-pop</p>
        <img class="hidden" src="" alt="" />
      </div>
    </section>
  </main>
</Layout>
